<p class="custom-font-tertiary line-height-6 custom-text-7 mb-4 appear-animation animated fadeIn appear-animation-visible"
    data-appear-animation="fadeIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tellus ante. Nam suscipit urna risus.
</p>
<p class="custom-text-4 mb-4 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
    data-appear-animation-delay="400" style="animation-delay: 400ms;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at massa quam. Maecenas et sem accumsan, dictum
    arcu eu, consectetur eros. Nulla tortor est, lobortis vestibulum turpis sed, mollis commodo orci.
</p>
<p class="custom-text-4 mb-5 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
    data-appear-animation-delay="600" style="animation-delay: 600ms;">
    Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in, efficitur lectus. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. In eu lectus ultricies, pellentesque libero vitae, dictum
    erat.
</p>
<div class="pb-5 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
    data-appear-animation-delay="800" style="animation-delay: 800ms;">
    <img src="img/demos/digital-agency-2/our-services/our-services-detail-1.jpg" class="img-fluid">
</div>
<ul class="custom-list list-unstyled mb-4">
    <li class="font-weight-medium custom-text-4 mb-4 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        Pellentesque ultricies nibh lorem ipsum</li>
    <li class="font-weight-medium custom-text-4 mb-4 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn" data-appear-animation-delay="400" style="animation-delay: 400ms;">Ultricies
        nibh pellen</li>
    <li class="font-weight-medium custom-text-4 appear-animation animated fadeIn appear-animation-visible"
        data-appear-animation="fadeIn" data-appear-animation-delay="600" style="animation-delay: 600ms;">
        Pellentesque ultricies nibh</li>
</ul>
<p class="custom-text-4 mb-4 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
    data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
    Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in, efficitur lectus. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. In eu lectus ultricies, pellentesque libero vitae, dictum
    erat.
</p>
<div class="accordion custom-accordion mb-4 appear-animation animated fadeIn appear-animation-visible" id="accordion"
    data-appear-animation="fadeIn" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
    <div class="card card-default custom-card-default rounded-0">
        <div class="card-header m-0 bg-color-tertiary">
            <h4 class="card-title m-0">
                <a class="accordion-toggle px-0 py-3" data-bs-toggle="collapse" data-bs-parent="#accordion"
                    href="#collapse1One">
                    Project Brainstorm
                </a>
            </h4>
        </div>
        <div id="collapse1One" class="collapse custom-card-body-collapse show">
            <div class="card-body">
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-0">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
            </div>
        </div>
    </div>
    <div class="card card-default custom-card-default rounded-0">
        <div class="card-header m-0 bg-color-tertiary">
            <h4 class="card-title m-0">
                <a class="accordion-toggle px-0 py-3" data-bs-toggle="collapse" data-bs-parent="#accordion"
                    href="#collapse2Two">
                    Project Developement
                </a>
            </h4>
        </div>
        <div id="collapse2Two" class="collapse custom-card-body-collapse">
            <div class="card-body">
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-0">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
            </div>
        </div>
    </div>
    <div class="card card-default custom-card-default rounded-0">
        <div class="card-header m-0 bg-color-tertiary">
            <h4 class="card-title m-0">
                <a class="accordion-toggle px-0 py-3" data-bs-toggle="collapse" data-bs-parent="#accordion"
                    href="#collapse3Three">
                    Project Delivery
                </a>
            </h4>
        </div>
        <div id="collapse3Three" class="collapse custom-card-body-collapse">
            <div class="card-body">
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-3">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
                <p class="mb-0">Sed elementum cursus ante in suscipit. Etiam a arcu consequat, vehicula nisi in,
                    efficitur lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eu lectus
                    ultricies, pellentesque libero vitae, dictum erat. </p>
            </div>
        </div>
    </div>
</div>

<div class="testimonial testimonial-style-2">
    <blockquote>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in
            consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est.</p>
    </blockquote>
    <div class="testimonial-arrow-down"></div>
    <div class="testimonial-author">
        <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
        <p><strong class="font-weight-extra-bold">John Smith</strong><span>CEO &amp; Founder - Okler</span></p>
    </div>
</div>